{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtail_cache %}

{% block content %}

    {% comment %}     
    {% cache %} -> {% wagtail_cache %} -> {% wagtailpagecache %}

    {% endcomment %}

    {% wagtailcache 500 "title-cache" %}
        <h1>
            {{ page.title }}
        </h1>
    {% endwagtailcache %}

    {% wagtailcache 500 "streamfields" %}
    {% for block in page.body %}
    
        {% if block.block_type in 'text,info,faq,carousel,call_to_action_1,image' %}
            {% include_block block %}
        {% endif %}

    {% endfor %}
    {% endwagtailcache %}

    {% include "includes/author_dark_mode.html" with object=self.author %}

{% endblock content %}

{% comment %} 
        {% if block.block_type == 'image' %}
            {% image block.value fill-300x300 %}
        {% elif block.block_type == 'doc' %}
            <a href="{{ block.value.url }}">{{ block.value.title }}</a>
        {% elif block.block_type == 'page' %}
            <a href="{{ block.value.url }}">
                {{ block.value.title }}
            <a/>
        {% elif block.block_type == 'author' %}
            {{ block.value.bio }}
        {% elif block.block_type == 'call_to_action_1' %}
            <div>
                <div class="rich-text">{{ block.value.text }}</div>
                <a href="{{ block.value.page.url }}" class="button">
                    {% if block.value.button_text %}
                        {{ block.value.button_text }}
                    {% else %}
                        {{ block.value.page.title }}
                    {% endif %}
                </a>
            </div>
        {% elif block.block_type == 'info' %}
            <div style='background-color: black; color: white; font-size: 24px; padding: 30px; text-align: center'>
                Danger, Will Robinson
            </div>
        {% elif block.block_type == 'faq' %}
            {% for faq in block.value %}
                <h2>{{ faq.question }}</h2>
                {{ faq.answer|richtext }}
            {% endfor %}
        {% endif %}
 {% endcomment %}
